[Unit]
Description=Polybot Prod Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/PolybotServicePython
ExecStart=/usr/bin/python3 main.py --token 7807497366:AAF7_Ks5kendbf6TdZboyqQifSmGO3zoW60 --env prod
Restart=always

[Install]
WantedBy=multi-user.target
