[Unit]
Description=Polybot Dev Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/PolybotServicePython
ExecStart=/home/ubuntu/PolybotServicePython/deploy-dev.sh
Restart=always
EnvironmentFile=/home/ubuntu/PolybotServicePython/.env

[Install]
WantedBy=multi-user.target
